/* Inicio de estilos de generales */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.boton{
    width: 130px;
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    font-size:15px;
    color: #ffffff;
    background-color: #25B297;
    border-radius: 4px;
    border-color:none;
    border-width: 0px;
    text-align: center;
}

/* Inicio de estilos de header */
.contenedor-logo{
    padding: 0 80px;
}

.logo{ 
    padding: 10px 0;
    width:100%;
    background-color: white;
}

.menu{ 
    float: right;
}
/* Fin de estilos de header */

/* Inicio de estilos de footer */
.footer{
    padding: 60px 80px;
    text-align: center;
    background-color:white;
    color: #4F4F4F;
}

#redes{
    width: 100%;
    margin: 30px 0 50px 0;
}

#redes ul{
    list-style-type: none;
    text-decoration-style: none;
}

#redes li{
    display: inline;
    text-align: center;
    margin: 0px 20px 0 0;
}

.derechos{
    font-size: 14px;
    margin-top: 25px;
}
/* Fin de estilos de footer */

/* Inicio de estilos de Index */
.banner{
    background-image: url("img/fondo-banner.png");
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 200px 0 100px 0;
}

.titulo-banner{
    font-size: 55px;
    color: #FDC954;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.6);
    margin: 170 80px 0 80px;
}

.subt-banner{
    font-size: 30px;
    color: white;
    margin: 0 80px 180px 80px;
}

#beneficios{
    padding: 80px 0;
    background-color: #F0F0F0;
    width: 100%;
    text-align: center;
}

.box-beneficios{
    margin: 0 80px;
}

.box-cards{
    width: 100%;
}

.card1{
    width: 30%;
    text-align: center;
    padding: 60px 0;
    background-color: white;
    color: #4F4F4F;
    float: left;
    margin-right: 5%;
    margin-bottom: 60 px;
}

.card2{
    width: 30%;
    text-align: center;
    padding: 60px 0;
    background-color: white;
    color: #4F4F4F;
    float: left; 
    margin-right: 5%;
    margin-bottom: 60 px;
}

.card3{
    width: 30%;
    text-align: center;
    padding: 60px 0;
    background-color: white;
    color: #4F4F4F;
    float: left; 
    margin-bottom: 60px;
}

.text-box{
    margin: 0 50px;
    font-size: 18px;
    line-height: 30px;
}

.icon-card{
     margin: 20px 40px 40px 40px;
}
/* Fin de estilos de Index */

/* Inicio de estilos de validación de tarjeta */
#cont-tarj{
  display: none;
}

#resumen-d{
    display: none;
}

#val-tarj{
    display: none;
}

#agradecimiento{
    display: none;
}

#alerta-tarjeta{
    display: none;
}

#error-cant-d{
    display: none;
}

#error{
    display: none;
}

.obligatorio{
    margin: -30px 50px 40px 50px;
    font-size: 14px;
    color: red;
}

.not-campo{
    margin-left: 50px;
    color: #4F4F4F;
    font-size: 16px;
}

.contenedor-datos{
    padding: 60px 80px;
    background-color: #F0F0F0;
    height: 600px;
} 

.contenedor-final{
    padding: 60px 80px;
    text-align: center;
    background-color: #F0F0F0;
    color: #4F4F4F;
    height: 500px;
}

.datos-resumen{
    width: 30%;
    background-color: white;
    float: right;  
}

.titulo-resumen{
    margin: 0 0 20px 0;
}

.precio-resumen{
    text-align: right;
    margin: 0 0 20px 0;
}

.texto-resumen{
    margin: 50px;
    color: #4F4F4F;
}

.datos-generales{
    width: 60%;
    margin-right: 10%;
    background-color: white;
    float: left;
}

.content-form{
    width: 100%;
    background-color: #C5ECE4;
    padding: 10px 0;
}

.titulos-form{
    margin: 0px 50px;
    color: #4F4F4F;
    font-size: 24px;
}

input{
    height: 30px;
}

::placeholder{
    color: #999999;
    font-size: 15px;
    padding: 10px;
}

.nombre-input{
    width: 630px;
    margin: 20px 50px 15px 50px;
}

.email-input{
    width: 350px;
    margin: 10px 0px 40px 50px;
}

.cel-input{
    width: 230px;
    margin: 10px 0px 40px 40px;
}

.tarjeta-input{
    width: 350px;
    margin: 50px 40px 10px 50px;
}

.titular-input{
    width: 350px;
    margin: 10px 40px 40px 50px;
}

.fecha-input{
    width: 100px;
    margin: 10px 40px 40px 0px;
    text-align: center;
}

.cvv-input{
    width: 80px;
    margin: 10px 0px 40px 0px;
    text-align: center;
}

.texto-datos{
    line-height: 25px;
    margin: 50px 50px 40px 50px;
    color: #4F4F4F;
}
 
.men-inva{
    margin: 0px 50px 20px 50px;
    color: #4F4F4F;
}

.borde-tarj{
    width: 180px;
    text-align: center;
    border: solid;
    border-width: 0.5px;
    border-color: #4F4F4F;
    padding: 5px;
}

.boton-box{
    margin: 0px 40px 50px 50px;
    width:100%;
}

.boton-modificar{
    width: 130px;
    text-decoration: none;
    padding: 10px;
    font-weight: 300;
    font-size:15px;
    color: #25B297;
    background-color: white;
    border-radius: 4px;
    border: 2px #25B297 solid;
    text-align: center;
}

.nombre-a{
    margin: 40px;
    font-size: 28px;
}

.mensaje-regis{
    margin: 40px;
}
/* Fin de estilos de validación de tarjeta */